---
interface Props {
	tag: string;
	ocupation: string;
}

const { tag, ocupation } = Astro.props;
---

<a href="/" class="Brand">
	<span class="Brand-tag">{tag}</span>
	<span class="Brand-ocupation">{ocupation}</span>
</a>

<style lang="scss">
	.Brand {
		display: flex;
		flex-flow: column;
		color: var(--white);
		text-decoration: none;

		&-tag {
			color: var(--white);
			text-transform: uppercase;
			font-weight: bolder;
		}

		&-ocupation {
			color: var(--theme-color);
			text-transform: lowercase;
			font-size: 0.8rem;
			letter-spacing: 0.1rem;
			word-spacing: 0.3rem;
		}
	}
</style>
