---
import { Image } from "astro:assets";
import proffileImage from "../../images/profileImage.png";
---

<a href="/" class="brand">
	<Image class="brand__image" src={proffileImage} alt="My profile pictue" />
	<span class="brand__tag">Domingo Uribe</span>
</a>
