---
import Brand from "./Brand.astro";
import Social from "./Social.astro";
---

<nav class="nav">
	<div class="nav__level">
		<Brand />
	</div>

	<div class="nav__level level--menu">
		<a href="/" class="level--menu__link current">Home</a>
		<a href="/about" class="level--menu__link">About me</a>
		<!-- <a href="/projects" class="level--menu__link">Projects</a>
		<a href="/blog" class="level--menu__link">Blog</a> -->
		<a href="/contact" class="level--menu__link">Get in touch</a>
	</div>

	<div class="nav__level">
		<h4>Encuéntrame en</h4>

		<Social />
	</div>
</nav>
