---
import Brand from "./Brand.astro";
import Social from "./Social.astro";
---

<nav class="nav">
	<div class="nav__level">
		<Brand />
	</div>

	<div class="nav__level level--menu">
		<a href="/" class="level--menu__link current">Home</a>
		<a href="/about" class="level--menu__link">Acerca de mí</a>
		<a href="/contact" class="level--menu__link">Contáctame</a>
	</div>

	<div class="nav__level">
		<h4>Encuéntrame en</h4>
		<Social />
	</div>
</nav>
