---

---

<nav class="Navigation">
	<a href="/" class="Navigation-link">Home</a>
	<a href="/about" class="Navigation-link">Acerca de mí</a>
	<a href="/contact" class="Navigation-link">Contáctame</a>
</nav>

<style lang="scss">
	.Navigation {
		opacity: 0;
		display: flex;
		background: transparent;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		transition: all ease-in-out 0.3s;
		overflow: hidden;
		pointer-events: none;

		&-link {
			color: white;
			text-decoration: none;
			font-size: 4rem;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.isActive {
		display: flex;
		opacity: 1;
		width: 100vw;
		height: 100vh;
		background-color: rgb(24, 6, 58);
		pointer-events: all;
	}

	// Media Query para dispositivos móviles
	@media screen and (max-width: 768px) {
		.Navigation {
			&-link {
				font-size: 2rem; // Tamaño de fuente más pequeño para dispositivos móviles
			}
		}
	}
</style>
