---
import { Image } from "astro:assets";
import Github from "../../assets/icons/github.svg";
import LinkeInd from "../../assets/icons/linkedin.svg";
---

<div class="Social">
	<a href="https://github.com/domingouribe" target="_blank" class="Social-link">
		<Image
			src={Github}
			alt="Githubg logo"
			class="Social-icon"
			width={80}
			height={80}
		/>
	</a>

	<a
		href="https://www.linkedin.com/in/domingouribe/"
		target="_blank"
		class="Social-link">
		<Image
			src={LinkeInd}
			alt="Githubg logo"
			class="Social-icon"
			width={80}
			height={80}
		/>
	</a>
</div>

<style lang="scss">
	.Social {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		gap: 2em;
		align-items: center;

		a {
			display: block;
			margin: 0;
			padding: 0;
		}

		&-icon {
			fill: var(--white);
			width: 3rem;
			transition: all 0.3s ease;

			&:hover {
				scale: (1.3);
				color: white;
			}
		}
	}
</style>
