@use "reset";

:root {
	--main-theme-color: #f9b17a;
	--blue-100: #2d3250;
	--blue-70: #424769;
	--blue-35: #676f9d;
	--white: #ececec;
	--white-50: hsla(0, 0%, 100%, 0.5);
	--white-25: hsla(0, 0%, 100%, 0.219);
	--font: "Poppins", sans-serif;
	--container-lg: 1200px;
}

/* Utilities */
.theme-color {
	color: var(--main-theme-color);
}

/* Grid Layout */
.container {
	margin: 0 auto;
	width: 100%;
	max-width: var(--container-lg);
	position: relative;
	padding: 0 1em;
	display: flex;
	flex-flow: inherit;
}

/* HTML */
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: var(--font);
	line-height: 1.5;
	background-color: var(--blue-70);
	color: var(--white);
	padding-top: 5em;
	display: flex;
	flex-flow: column;
}

.main {
	display: flex;
	flex-flow: column nowrap;
	gap: 2em;
}