@use "reset";

:root {
	--main-theme-color: rgb(255, 171, 14);
	--main-theme-color-70: hsla(39, 100%, 50%, 0.7);
	--blue-100: #161a31;
	--blue-70: #424769;
	--blue-35: #676f9d;
	--white: #ececec;
	--white-50: hsla(0, 0%, 100%, 0.5);
	--white-25: hsla(0, 0%, 100%, 0.219);

	//LayOut
	--font: 'Raleway Variable', sans-serif;

	//Utilities
	--container-lg: 1024px;

	//Corner Radius
	--corner-sm: 0.5em;
	--corner-md: 1em;
	--corner-lg: 1.5em;
	--corner-xlg: 2em;
	--corner-xxlg: 3em;
}

/* Utilities */
.ThemeColor {
	color: var(--main-theme-color);
}

/* Grid Layout */
.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
	position: relative;
	padding: 0 1em;
	display: inherit;
	flex-flow: inherit;
	justify-content: inherit;
	align-items: inherit;
	gap: inherit;
	text-align: inherit;
}

/* HTML */
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: var(--font);
	line-height: 1.7;
	background-color: var(--blue-100);
	color: var(--white);
	padding-top: 7em;
	display: flex;
	flex-flow: column nowrap;
	position: relative;
}

.main {
	display: flex;
	flex-flow: column nowrap;
	gap: 2em;
	max-width: 64em;
	margin: auto;
	padding: 0 1em;
}

@media screen and (max-width: 768px) {
	body {
		line-height: 1.5;
		padding-top: 3em;
		display: flex;
	}

	.Navigation {
		line-height: 2;

		&-link {
			font-size: 2rem; // Tamaño de fuente más pequeño para dispositivos móviles
		}
	}
}