---
import PagesLayout from "../layouts/PagesLayout.astro";
import Social from "../components/shared/Social.astro";
const pageTitle = "Contact me";
---

<PagesLayout pageTitle={pageTitle}>
	<section class="page">
		<div class="container">
			<article class="page__content">
				<h1 class="page__title">Contáctame</h1>
				<Social />
			</article>
		</div>
	</section>
</PagesLayout>
