---
export interface Props {
	iconURL: any;
	title: string;
	subTitle: string;
	description: string;
}
const { iconURL, title, subTitle, description } = Astro.props;
---

<div class="Card">
	<img class="Card-icon" src={iconURL} width="100" height="auto" />
	<h3 class="Card-title">{title}</h3>
	<span class="Card-subtitle"> {subTitle}</span>
	<p class="Card-description">
		{description}
	</p>
</div>

<style lang="scss">
	.Card {
		padding: 2em;
		border-radius: 1em;
		display: flex;
		flex-flow: column nowrap;
		width: 20em;
		flex-grow: 1;
		align-items: center;

		&-icon {
			margin-bottom: 1em;
			width: 6em;
			height: auto;
			justify-self: center;
		}
		&-title {
			font-size: 1.5rem;
			margin: 0;
		}

		&-subtitle {
			font-style: italic;
			color: var(--main-theme-color);
		}

		&-description {
			color: var(--white);
		}
	}
</style>
