---
import Card from "./Card.astro";
---

<section class="Services">
	<Card
		imagePath="/src/assets/icons/astro.svg"
		altText="Astro Official Logo"
		title="Astro Framework"
		subTitle="Tools"
		description="Desarrollo de sitios Web modernos con Astro, la nueva forma de crear sitios Web de información estática enfocada en el contenido y el SEO y que corren a la velocidad de la luz."
	/>
	<Card
		imagePath="/src/assets/icons/react.svg"
		altText="React official logo"
		title="React"
		subTitle="tools"
		description="Desarrollo de aplicaciones Web con la librería de Meta para el desarrollo de Interfaz de usuasrio"
	/>

	<Card
		imagePath="/src/assets/icons/css.svg"
		altText="CSS methodologies"
		title="Metodologías CSS SUIT/BEM"
		subTitle="Tools"
		description="Metodología de trabajo BEM con CSS y HTML para la participación en equipos de trabajo y desarrollo ágil."
	/>
	<Card
		imagePath="/src/assets/icons/figma.svg"
		altText="Figma official Logo"
		title="Figma"
		subTitle="Tools"
		description="Diseño colaborativo simplificado con Figma, la plataforma líder para equipos de diseño que permite crear, prototipar y colaborar en proyectos de manera eficiente y en tiempo real, allanando el camino para una creatividad sin límites y una comunicación fluida entre los miembros del equipo."
	/>
</section>

<style lang="scss">
	.Services {
		display: flex;
		flex-flow: row wrap;
		gap: 2em;
		font-size: 14px;
	}
</style>
